.block {
    margin-top: var(--dim-block-margin-vertical);
    margin-bottom: var(--dim-block-margin-vertical);
    padding-left: var(--dim-block-margin-horizontal);
    padding-right: var(--dim-block-margin-horizontal);

    &.vm-large {
        margin-top: var(--dim-block-margin-vertical-large);
        margin-bottom: var(--dim-block-margin-vertical-large);
    }
    &.vm-small {
        margin-top: var(--dim-block-margin-vertical-small);
        margin-bottom: var(--dim-block-margin-vertical-small);
    }
    &.vm-none {
        margin-top: 0;
        margin-bottom: 0;
    }
}